body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
}

.content {
    margin: 0;
}

.time {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*resize: both;  для тестирования*/
    overflow: auto;
}

.menu {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}