body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
    background: black;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-top: 40vh;
}

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer_block {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(90, 89, 89);
    border-radius: 10px;
    margin: 5px;
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 64px;
    height: 84px;
}

.menu {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}